.edit-universals-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.edit-type-specifics {
    margin-top: 1rem;
    border-bottom: 1px solid #888;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.control-btn {
    width: 200px;
    margin-right: 1rem;
    margin-top: 1rem;
}

#save-pending-alert {
    margin-top: 1rem;
}

.controls-row {
    padding-bottom: 2rem;
    button {
        width: 100%;
    }
}

.preview-btn {
    width: 150px;
}

.playlist-memberships {
    margin-bottom: .5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

button.remove-membership,
button.add-membership {
    float: right;
}

.playlist-membership-list span {
    display: inline-block;
    padding-top: .25rem;
}

button.increment,
button.decrement,
button.clear-input {
    margin-left: 1rem;
    width: 40px;
}