<div class="editor-form-div">
    <div class="row edit-universals-row">
        <div class="col">
            <div class="form-group">
                <label>Vocab Type</label>
                <select [(ngModel)]="data.type" 
                    [disabled]="savePending"
                    class="form-control">
                    <option value="noun">Noun</option>
                    <option value="verb">Verb</option>
                    <option value="adjective">Adjective</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>English Text</label>
                <input [(ngModel)]="data.eng_text" 
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>English Audio</label>
                <input [(ngModel)]="data.eng_audio"
                    (keyup.enter)="previewAudio('english')"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <button (click)="previewAudio('english')"
                class="btn btn-outline-dark preview-btn">
                Preview Audio
            </button>
            <button (click)="decrement('english')"
                class="btn btn-outline-dark decrement">
                -
            </button>
            <button (click)="increment('english')"
                class="btn btn-outline-dark increment">
                +
            </button>
            <button (click)="clearInput('english')"
                class="btn btn-outline-dark clear-input">
                Cl
            </button>
        </div>
        <div class="col">

            <div class="form-group">
                <label>Dialect</label>
                <input [(ngModel)]="data.dialect" 
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Source</label>
                <input [(ngModel)]="data.source"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Playlist</label>
                <select [(ngModel)]="selectedPlaylistId"
                    class="form-control">
                    <option value="none">No Playlist</option>
                    <option *ngFor="let p of playlists"
                        value="{{p._id}}">
                        {{p.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-check">
                <input [checked]="isWordMastered"
                    [disabled]="savePending"
                    (click)="toggleMastered()"
                    type="checkbox" class="form-check-input" id="masteryStatus">
                <label class="form-check-label" for="masteryStatus">Mastered</label>
            </div>
        </div>
    </div>

    <div class="row edit-type-specifics">
        <div class="col">
            <div class="form-group">
                <label>Arabic Masc Text</label>
                <input [(ngModel)]="data.data_adj.a_masc_text"
                    [disabled]="savePending"
                    #tab1
                    (keyup.control.enter)="tabTo(2)"
                    (keyup.enter)="previewAudio('a_masc_audio')"
                    class="form-control arabic-text">
            </div>
            <div class="form-group">
                <label>Arabic Masc Audio</label>
                <input [(ngModel)]="data.data_adj.a_masc_audio"
                    [disabled]="savePending"
                    (keyup.enter)="previewAudio('a_masc_audio')"
                    class="form-control">
            </div>
            <button (click)="previewAudio('a_masc_audio')"
                class="btn btn-outline-dark preview-btn">
                Preview
            </button>
            <button (click)="decrement('a_masc_audio')"
                class="btn btn-outline-dark decrement">
                -
            </button>
            <button (click)="increment('a_masc_audio')"
                class="btn btn-outline-dark increment">
                +
            </button>
            <button (click)="clearInput('a_masc_audio')"
                class="btn btn-outline-dark clear-input">
                Cl
            </button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Arabic Fem Text</label>
                <input [(ngModel)]="data.data_adj.a_fem_text"
                    [disabled]="savePending"
                    #tab2
                    (keyup.control.enter)="tabTo(3)"
                    (keyup.enter)="previewAudio('a_fem_audio')"
                    class="form-control arabic-text">
            </div>
            <div class="form-group">
                <label>Arabic Fem Audio</label>
                <input [(ngModel)]="data.data_adj.a_fem_audio"
                    [disabled]="savePending"
                    (keyup.enter)="previewAudio('a_fem_audio')"
                    class="form-control">
            </div>
            <button (click)="previewAudio('a_fem_audio')"
                class="btn btn-outline-dark preview-btn">
                Preview
            </button>
            <button (click)="decrement('a_fem_audio')"
                class="btn btn-outline-dark decrement">
                -
            </button>
            <button (click)="increment('a_fem_audio')"
                class="btn btn-outline-dark increment">
                +
            </button>
            <button (click)="clearInput('a_fem_audio')"
                class="btn btn-outline-dark clear-input">
                Cl
            </button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Arabic Plural Text</label>
                <input [(ngModel)]="data.data_adj.a_pl_text"
                    [disabled]="savePending"
                    #tab3
                    (keyup.control.enter)="tabTo(1)"
                    (keyup.enter)="previewAudio('a_pl_audio')"
                    class="form-control arabic-text">
            </div>
            <div class="form-group">
                <label>Arabic Plural Audio</label>
                <input [(ngModel)]="data.data_adj.a_pl_audio"
                    [disabled]="savePending"
                    (keyup.enter)="previewAudio('a_pl_audio')"
                    class="form-control">
            </div>
            <button (click)="previewAudio('a_pl_audio')"
                class="btn btn-outline-dark preview-btn">
                Preview
            </button>
            <button (click)="decrement('a_pl_audio')"
                class="btn btn-outline-dark decrement">
                -
            </button>
            <button (click)="increment('a_pl_audio')"
                class="btn btn-outline-dark increment">
                +
            </button>
            <button (click)="clearInput('a_pl_audio')"
                class="btn btn-outline-dark clear-input">
                Cl
            </button>
        </div>
    </div>

    <div class="row controls-row">
        <div class="col">
            <button (click)="saveEdit(true)"
                [disabled]="savePending"
                class="btn btn-success control-btn">
                Save and Create New
            </button>
        </div>
        <div class="col">
            <button (click)="saveEdit(false)"
                [disabled]="savePending"
                class="btn btn-primary control-btn">
                Save
            </button>
            <button (click)="cancelEdit()"
                [disabled]="savePending"
                class="btn btn-secondary control-btn">
                Cancel
            </button>
        </div>
    </div>

    <div *ngIf="savePending"
        class="row">
        <div class="col">
            <div
                id="save-pending-alert"
                class="alert alert-info">
                <strong>{{saveDivText}}</strong>
            </div>
        </div>
    </div>
</div>