.wide-btn {
    width: 100%;
}

#begin-study-btn {
    position: absolute;
    bottom: 1rem;
}

div.main-container {
    margin-top: 2rem;
}

div.main-col {
    min-height: 400px;
}

div.display-screen {
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    h1 {
        margin-top: auto;
        margin-bottom: auto;
    }
}


div.progress-container {
    margin-top: 1rem;
}

.answer-header {
    text-align: right;
}

.progress-table {
    width: 100%;
    table-layout: fixed;
    margin-top: 1rem;
}

.progress-table td {
    height: 20px;
    padding: 4px;
}

span.card-status {
    width: 100%;
    height: 100%;
    display: block;
}

span.inactive {
    background-color: #222;
}

span.mastered {
    background-color: #96bee8;
}

span.unmastered {
    background-color: #c0c0c0;
}


span.correct {
    background-color: #28a745;
}

span.mastered-correct {
    background-color: #205893;
}

span.wrong {
    background-color: #cd954c;
}

span.mastered-wrong {
    background-color: #dc3545;
}

span.newly-mastered {
    background-color: #9370DB;
}

span.reference {
    background-color: yellow;
    border: 2px solid black;
}

span.card-status:hover {
    cursor: pointer;
}

span.english-text-display {
    font-size: 3rem;
    line-height: 1.8;
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 300;
    margin-right: 1.5rem;
}

span.arabic-text-display {
    font-size: 4rem;
    line-height: 1.8;
    display: block;
    margin-left: 1.5rem;
    border-top: 2px solid #ccc;
    padding-top: 1rem;
}

span.arabic-text-display:first-child {
    border-top: none;
    padding-top: 0;
}

.study-text-display {
    border-top: 2px solid #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 400px;
}

div.english-text-col {
    border-right: 2px solid #ccc;
}

.reference-row-1 {
    margin-top: 2rem;
    border: 2px solid #222;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.reference-row-1 h3 {
    font-size: 1.8rem;
    font-weight: 300;
}

.reference-row-1 span.english-text-display {
    font-size: 1.8rem;
}
.reference-row-1 span.arabic-text-display {
    font-size: 2.5rem;
}