
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1>Edit</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

        <div class="form-group">
            <label>Eng Text</label>
            <input class="form-control" [(ngModel)]="noun.eng_text">
        </div>

        <div class="form-group">
            <label>Arabic Sing Text</label>
            <input class="form-control" [(ngModel)]="noun.a_sing_text">
        </div>

        <div class="form-group">
            <label>Arabic Pl Text</label>
            <input class="form-control" [(ngModel)]="noun.a_pl_text">
        </div>

        <div class="form-group">
            <label>Source</label>
            <input class="form-control" [(ngModel)]="noun.source">
        </div>

        <div class="form-group">
            <label>Tags</label>
            <input class="form-control" [(ngModel)]="tags">
        </div>

        <button class="btn btn-success standard-btn"
            (click)="saveNoun()">
            Save
        </button>

        <button class="btn btn-warning standard-btn"
            [routerLink]="['/','view']">
            Cancel
        </button>

    </div>
</div>