
.header-row,
.debug-row {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: .25rem;
    h1 {
        font-weight: 300;
        font-size: 1.5rem;
    }
}

div.custom-switch {
    margin-bottom: 1rem;
}

.custom-control-label {
    cursor: pointer;
}

.btn-full-width {
    width: 100%;
}

.border-bottom-light {
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
}

#is-loading {
    margin-top: 1.5rem;
}

#progress-bar {
    margin-bottom: .5rem;
}

.study-controls-row button,
.study-nav-row button {
    width: 100%;
    margin-bottom: 1rem;
}

.study-controls-row,
.study-nav-row {
    margin-bottom: 1rem;
}

table.progress-table {
    width: 100%;
    tbody {
        width: 100%;
        tr {
            width: 100%;
            td {
                width: auto;
                border: 1px solid #343a40;
                height: 20px;
            }
        }
    }
}

td.completed-word {
    background-color: yellow;
}

td.current-word {
    background-color: #28a745;
}

.toggle-debug-row {
    margin-top: 1rem;
}

.toggle-debug-row button {
    width: 100%;
}