
.header-row,
.debug-row {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: .25rem;
    h1 {
        font-weight: 300;
        font-size: 1.5rem;
    }
}

div.custom-switch {
    margin-bottom: 1rem;
}

.custom-control-label {
    cursor: pointer;
}

.btn-full-width {
    width: 100%;
}

.border-bottom-light {
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
}

#is-loading {
    margin-top: 1.5rem;
}

#progress-bar {
    margin-bottom: .5rem;
}

.study-controls-row button,
.study-nav-row button {
    width: 100%;
    margin-bottom: 1rem;
}

.study-controls-row,
.study-nav-row {
    margin-bottom: 1rem;
}

table.progress-table {
    width: 100%;
    tbody {
        width: 100%;
        tr {
            width: 100%;
            td {
                width: auto;
                // border: 1px solid #343a40;
                border: 2px solid #888;
                height: 20px;
            }
        }
    }
}

td.completed-word {
    background-color: #28a745;
}

td.current-word {
    background-color: yellow;
}

.toggle-debug-row {
    margin-top: 1rem;
}

.toggle-debug-row button {
    width: 100%;
}

span.english-text-display {
    font-size: 3rem;
    line-height: 1.8;
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 300;
    margin-right: 1.5rem;
}

span.arabic-text-display {
    font-size: 4rem;
    line-height: 1.8;
    display: block;
    margin-left: 1.5rem;
    border-top: 2px solid #ccc;
    padding-top: 1rem;
}

span.arabic-text-display:first-child {
    border-top: none;
    padding-top: 0;
}

.study-text-display {
    border-top: 2px solid #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 400px;
}

div.english-text-col {
    border-right: 2px solid #ccc;
}