<div *ngIf="!showStudy"
    class="jumbotron">
    <h1>Study Vocab Page</h1>
</div>

<div *ngIf="displayError"
    class="container"
    id="display-error">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                <strong>{{errorBold}}</strong>
                {{errorText}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="displayInfo"
    class="container"
    id="display-info">
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <strong>{{infoBold}}</strong>
                {{infoText}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="showSettings"
    class="container"
    id="settings">
    <div class="row header-row">
        <div class="col">
            <h1>Configure Options</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="custom-control custom-switch">
                <input [checked]="options.autoLoadNext"
                    (click)="toggleSwitch('autoLoadNext')"
                    id="autoLoadNext"
                    type="checkbox"
                    class="custom-control-input">
                <label class="custom-control-label" for="autoLoadNext">
                    Auto-Load Next
                </label>
            </div>
        </div>
        <div class="col">
            <div class="custom-control custom-switch">
                <input [checked]="options.autoPlayAnswer"
                    (click)="toggleSwitch('autoPlayAnswer')"
                    id="autoPlayAnswer"
                    type="checkbox"
                    class="custom-control-input">
                <label class="custom-control-label" for="autoPlayAnswer">
                    Auto-Play Answer
                </label>
            </div>
        </div>
        <div class="col">
            <div class="custom-control custom-switch">
                <input [checked]="options.onlyMastered"
                    (click)="toggleSwitch('onlyMastered')"
                    id="onlyMastered"
                    type="checkbox"
                    class="custom-control-input">
                <label class="custom-control-label" for="onlyMastered">
                    Study Mastered Only
                </label>
            </div>
        </div>
        <div class="col">
            <div class="custom-control custom-switch">
                <input [checked]="options.loopOnFinish"
                    (click)="toggleSwitch('loopOnFinish')"
                    id="loopOnFinish"
                    type="checkbox"
                    class="custom-control-input">
                <label class="custom-control-label" for="loopOnFinish">
                    Loop on Finish
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Direction</label>
                <select [(ngModel)]="options.direction"
                    class="form-control">
                    <option value="AB">A to B</option>
                    <option value="BA">B to A</option>
                    <option value="RANDOM">Random</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Play Answer __ Times</label>
                <select [(ngModel)]="options.autoPlayCount"
                    class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Time Before Answer</label>
                <select [(ngModel)]="options.answerDelay"
                    class="form-control">
                    <option value="0">0.0</option>
                    <option value="0.5">0.5</option>
                    <option value="1">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4.0</option>
                    <option value="10">10.0</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Time Between Answers</label>
                <select [(ngModel)]="options.betweenB"
                    class="form-control">
                    <option value="0.5">0.5</option>
                    <option value="1">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="10.0">10.0</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Time Before Next Card</label>
                <select [(ngModel)]="options.beforeNext"
                    class="form-control">
                    <option value="0.5">0.5</option>
                    <option value="1">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="10">10.0</option>
                </select>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row configuration-row-2">
        <div class="col">
            <div class="form-group">
                <label>Subset Size</label>
                <select [(ngModel)]="options.subset"
                    class="form-control">
                    <option value="normal">All</option>
                    <option value="subset-12">Subset of 12</option>
                    <option value="subset-24">Subset of 24</option>
                    <option value="subset-36">Subset of 36</option>
                    <option value="subset-48">Subset of 48</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Rounds</label>
                <select [(ngModel)]="options.repetition"
                    class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Sorting</label>
                <select [(ngModel)]="options.sorting"
                    class="form-control">
                    <option value="old">Favor Unpracticed</option>
                    <option value="none">No Sorting</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div *ngIf="!options.onlyMastered"
                class="form-group">
                <label>Show Known Vocab % of Time</label>
                <select [(ngModel)]="masteredProbability"
                    class="form-control">
                    <option value="0">Never</option>
                    <option value="25">25% Probability</option>
                    <option value="50">50% Probability</option>
                    <option value="75">75% Probability</option>
                    <option value="100">Always</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row header-row" id="select-material-row">
        <div class="col">
            <h1>Select Material</h1>
        </div>
    </div>
    <div class="row border-bottom-light">
        <div class="col">
            <div class="form-group">
                <label>By Playlist</label>
                <select [(ngModel)]="playlistSelectedId"
                    class="form-control">
                    <option value="none">All Playlists</option>
                    <option *ngFor="let list of playlists"
                        value="{{list._id}}">{{list.name}}</option>
                    <option value="no-memberships">Without A Playlist</option>
                    <option value="all-members-last-practiced">Members (by last practiced)</option>
                    <option value="random">Random Members</option>
                </select>
            </div>
            <button (click)="selectMaterial('playlist')"
                class="btn btn-primary btn-full-width">
                Select and Start
            </button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>By Tag</label>
                <input [(ngModel)]="tagSelected"
                    class="form-control">
            </div>
            <button (click)="selectMaterial('tag')"
                class="btn btn-primary btn-full-width">
                Select and Start
            </button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Repetition Series</label>
                <select [(ngModel)]="playlistSelectedId"
                    class="form-control">
                    <option value="none">None Selected</option>
                    <option *ngFor="let list of playlists"
                        value="{{list._id}}">{{list.name}}</option>
                </select>
            </div>
            <button (click)="selectMaterial('playlist-repetition')"
                class="btn btn-primary btn-full-width">
                Select and Start
            </button>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<div *ngIf="isLoading"
    class="container"
    id="is-loading">
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <strong>Loading...</strong>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showStudy"
    class="container"
    id="study">
    <div class="row header-row study-text-display">
        <div class="col english-text-col">
            <span *ngIf="showTextA"
                class="english-text-display">
                {{focusWord.displayTextA().join(', ')}}
            </span>
        </div>
        <div class="col arabic-text-col">
            <div *ngIf="showTextB">
                <span *ngFor="let text_b of focusWord.displayTextB()"
                    class="arabic-text arabic-text-display">
                    {{text_b}}
                </span>
            </div>
        </div>
    </div>
    <div class="row study-controls-row">
        <div class="col">
            <button (click)="playPrompt()"
                class="btn btn-success">
                Play Prompt
            </button>
        </div>
        <div class="col">
            <div *ngIf="isSequencePlaying">
                <button *ngIf="!isPaused"
                    (click)="pauseAudio()"
                    class="btn btn-danger">
                    Pause
                </button>
                <button *ngIf="isPaused"
                    (click)="resumeAudio()"
                    class="btn btn-success">
                    Resume
                </button>
            </div>
        </div>
        <div class="col">
            <button (click)="playResponse()"
                class="btn btn-success">
                Play Response
            </button>
        </div>
    </div>
    <div class="row study-nav-row">
        <div class="col">
            <button *ngIf="focusIndex > 0"
                (click)="goBack()"
                class="btn btn-primary">
                Previous Word
            </button>
        </div>
        <div class="col">
            <button *ngIf="!focusWord.mastered"
                (click)="markMastered()"
                class="btn btn-info">
                Mark Mastered
            </button>
            <button *ngIf="focusWord.mastered"
                (click)="markNotMastered()"
                class="btn btn-warning">
                Mark Not Mastered
            </button>
        </div>
        <div class="col">
            <button (click)="skipToNext()"
                class="btn btn-primary">
                Next Word
            </button>
        </div>
    </div>
    <div *ngIf="studyPath !== 'repetition'"
        class="row progress-row">
        <div class="col">
            <table class="progress-table">
                <tbody>
                    <tr>
                        <td *ngFor="let word of words; let i = index;"
                            [class.completed-word]="i < focusIndex"
                            [class.current-word]="i == focusIndex"
                            [class.border-word]="((i + 1) % 12) == 0"
                        ></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="studyPath == 'repetition'"
        class="row progress-row">
        <div class="col">
            <table class="repetition-progress">
                <tbody>
                    <tr>
                        <td *ngFor="let group of blockProgress"
                            [class.none]="group[0] == 0"
                            [class.once]="group[0] == 1"
                            [class.twice]="group[0] == 2"
                            [class.error]="group[0] > 2">
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let group of blockProgress"
                            [class.none]="group[1] == 0"
                            [class.once]="group[1] == 1"
                            [class.twice]="group[1] == 2"
                            [class.error]="group[1] > 2">
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let group of blockProgress"
                            [class.none]="group[2] == 0"
                            [class.once]="group[2] == 1"
                            [class.twice]="group[2] == 2"
                            [class.error]="group[2] > 2">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row toggle-debug-row">
        <div class="col">
            <button (click)="toggleDebug()"
                class="btn btn-dark">
                Toggle Debug View
            </button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

</div>


<div *ngIf="showDebug"
    class="container"
    id="debug-row">
    <div class="row debug-row">
        <div class="col">
            <h1>Debug Row</h1>
            <!-- <div class="progress" id="progress-bar">
                <div class="progress-bar" [style.width.%]="audioPlayerStatus.progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <h1>{{audioPlayerStatus.message}}</h1>
            <pre>{{audioPlayerStatus | json}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <pre>{{options | json}}</pre>
            <pre>{{focusWord | json}}</pre>
        </div>
    </div>
</div>

<div *ngIf="showCompleted"
    class="container"
    id="completed">
    <div class="row header-row">
        <div class="col">
            <h1>Completed</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Study Program Complete</h1>
            <p class="lead">Page will refresh in 1 seconds</p>

        </div>
    </div>
</div>
