<h1>Generic Form</h1>


<table [formGroup]="entriesModel" class="table">
    <thead>
        <tr>
            <th>Prompt Text</th>
            <th>Prompt Audio</th>
            <th>Response Text</th>
            <th>Response Audio</th>
            <th>Source</th>
            <th>Tags</th>
            <th>Remove</th>
        </tr>
    </thead>

    <tbody formArrayName="entriesArray">
        <ng-container  *ngFor="let _ of entriesArray.controls; index as i">
            <tr [formGroupName]="i">
                <td><input class="form-control" formControlName="prompt_text"></td>
                <td><input class="form-control" formControlName="prompt_audio"></td>
                <td><input class="form-control" formControlName="response_text"></td>
                <td><input class="form-control" formControlName="response_audio"></td>
                <td><input class="form-control" formControlName="source"></td>
                <td><input class="form-control" formControlName="tags"></td>
                <td><button class="btn btn-danger" (click)="removeLine(i)">X</button></td>
            </tr>
        </ng-container>

    </tbody>

</table>

<div class="row button-row">
    <div class="col">
        <button class="btn btn-primary standard-btn"
        (click)="addLine()">Add Line</button>
    </div>
</div>
<div class="row button-row">
    <div class="col">
        <button class="btn btn-success standard-btn"
            (click)="saveEntries()">Save Entries</button>
    </div>
</div>




<hr>
<div class="list-group">
    <a class="list-group-item list-group-item-action"
        [routerLink]="['/new']"
        >Change Word Type</a>
    <a class="list-group-item list-group-item-action"
        [routerLink]="['/']"
    >Cancel</a>
</div>