<div class="container">
    <div class="row type-selection-row">
        <div class="col">
            <h2 class="select-header">Select Word Type</h2>
        </div>
    </div>
    <div class="row buttons-row">
        <div class="col">
            <button (click)="forward('noun')" 
                class="btn btn-primary btn-standard">
                Noun
            </button>
        </div>
        <div class="col">
            <button (click)="forward('verb')"  
            class="btn btn-primary btn-standard">
            Verb
        </button>
        </div>
        <div class="col">
            <button (click)="forward('adjective')"  
                class="btn btn-primary btn-standard">
                Adjective
            </button>
        </div>
        <div class="col">
            <button (click)="forward('other')" 
                class="btn btn-primary btn-standard">
                Other
            </button>
        </div>
    </div>
    <div class="row default-cancel-row">
        <div class="col">
            <button (click)="cancelEdit()"
                class="btn btn-secondary btn-standard">
                Cancel
            </button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>