h2.select-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
}


.type-selection-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #888;
}

.buttons-row {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.buttons-row .btn-standard,
.default-cancel-row .btn-standard {
    width: 100%;
}

.default-cancel-row {
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #888;
}