.type-selection-row {
    margin-top: 1.5rem;
}

h2 {
    font-weight: 300;
}

.choices-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-standard {
    margin-right: 1rem;
    width: 200px;
}