div.search-container {
    margin-bottom: 1rem;
}

div.search-results-div {
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    margin-bottom: .25rem;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

tr.table-danger td,
tr.table-success td {
    color: #212529;
}

tr.table-danger,
tr.table-success {
    border-left: 1px solid #212529;
    border-right: 1px solid #212529;
    border-bottom: 1px solid #212529;
}


.load-entries-btn,
.create-new-btn {
    width: 100%;
}

.btn-standard {
    display: block;
    width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

td.col-eng-text:hover {
    cursor: pointer;
}

td.col-eng-text,
th.col-eng-text {
    width: 195px;
}

.border-rl {
    border-right: 1px solid #454D55;
}

.border-rm {
    border-right: 2px solid #aaa;
}

.select-col {
    border-left: 2px solid #aaa;
}
td.select-col:hover {
    cursor: pointer;
}

td.select-col.selected {
    background-color: yellow;
}

.narrow-col {
    width: 150px;
}

.middle-col {
    width: 250px;
}

td.hasAudio:hover {
    cursor: pointer;
}

li.page-item:hover {
    cursor: pointer;
}

td.edit-link-col:hover {
    cursor: pointer;
}

.load-create-row {
    margin-bottom: 0.75rem;
}

.bulk-mode-row button {
    width: 100%;
}

.bulk-mode-row {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bulk-selected {
    background-color: yellow;
}

.is-bulk-selection-mode .playlist-col:hover {
    cursor: pointer;
}

.playlist-span {
    display: block;
}

td.arabic-text {
    font-size: 100%;
}

table td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

@media (min-width: 1200px) {
    #vocab-table {
        max-width: 1300px;
    }
}
