<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>Vocab Page</h1>
            </div>
        </div>
    </div>
</div>


<div class="container search-container">
    <div *ngIf="showEntriesFilter"
        class="row">
        <div class="col">
            <div class="form-group">
                <label>Entry Type</label>
                <select [(ngModel)]="categoryFilter"
                    class="form-control">
                    <option value="all">All</option>
                    <option value="noun">Nouns</option>
                    <option value="verb">Verbs</option>
                    <option value="adjective">Adjectives</option>
                    <option value="other">Other</option>
                    <option value="uncategorized">Uncategorized</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Filter</label>
                <input [(ngModel)]="searchText" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Apply Filter To</label>
                <select [(ngModel)]="searchTarget"
                    class="form-control">
                    <option value="tags">Tags</option>
                    <option value="source">Source</option>
                    <option value="english">English Text</option>
                    <option value="dialect">Dialect</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Sort By</label>
                <select [(ngModel)]="sortBy"
                    class="form-control">
                    <option value="default">Default</option>
                    <option value="old">Last Practiced, Old First</option>
                    <option value="new">Last Practiced, Recent First</option>"
                </select>
            </div>
        </div>
    </div>

    <div *ngIf="showEntriesFilter"
        class="row load-create-row">
        <div class="col">
            <div class="form-group">
                <label>Exclude Tag</label>
                <input [(ngModel)]="excludeTag"
                    class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Playlist</label>
                <select [(ngModel)]="playlistSelected"
                    class="form-control">
                    <option value="none">View Playlist</option>
                    <option *ngFor="let list of playlists"
                        value="{{list._id}}">{{list.name}}</option>
                    <option value="no-memberships">No Memberships</option>
                </select>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label>Status</label>
                <select [(ngModel)]="filterStatus"
                    class="form-control">
                    <option value="all">All</option>
                    <option value="mastered">Mastered</option>
                    <option value="not-mastered">Not Mastered</option>
                    <option value="never-practiced">Never Practiced</option>
                    <option value="just-practiced">Practiced, Not Mastered</option>
                </select>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div *ngIf="showEntriesFilter"
        class="row">
        <div class="col">
            <button class="btn btn-primary load-entries-btn"
                (click)="loadEntries()">
                Load Entries
            </button>
        </div>
        <div class="col">
            <div class="search-results-div">
                <strong>{{resultsCount}}</strong> entries found
            </div>
        </div>
        <div class="col">
            <button class="btn btn-success create-new-btn"
                (click)="createNewVocab()">
                Create New Entry
            </button>
        </div>
    </div>
</div>


<div *ngIf="showEntriesTable"
    class="container">
    <div class="row">
        <div class="col">
            <table class="table table-dark table-hover"
                [class.is-bulk-selection-mode]="bulkPlaylistMode"
                id="entries-table">
                <thead>
                    <tr>
                        <th class="border-rm">Last Practiced</th>
                        <th class="col-eng-text border-rl">English</th>
                        <th class="border-rm middle-col">Arabic</th>
                        <th class="border-rl">Edit</th>
                        <th class="border-rl">Type</th>
                        <th class="">Playlist</th>
                        <th class="select-col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let word of words"
                        [class.table-success]="word.mastered"
                    >
                        <td class="border-rm">
                            {{lastPracticedText(word.lastPracticed, word.everPracticed)}}
                        </td>
                        <td (click)="playAudio(word.eng_audio)"
                            class="col-eng-text border-rl"
                            [class.hasAudio]="word.eng_audio">
                            {{englishText(word.eng_text)}}
                        </td>
                        <td (click)="playAudio(defaultAudio(word))"
                            class="border-rm middle-col arabic-text"
                            [class.hasAudio]="defaultAudio(word)">
                            {{defaultText(word)}}
                        </td>
                        <td (click)="edit(word)"
                            class="border-rl edit-link-col">
                            edit
                        </td>
                        <td class="border-rl">
                            {{word.type}}
                        </td>
                        <td class="playlist-col">
                            {{word.playlist.playlist_name}}
                        </td>
                        <td (click)="toggleSelection(word)"
                            class="select-col"
                            [class.selected]="word.bulkSelected"
                            ></td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li *ngFor="let page of pagination"
                        class="page-item"
                        [class.active]="page.current">
                        <a (click)="loadPage(page.pageNumber)"
                            class="page-link">
                            {{page.linkText}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ng-template editor-host></ng-template>
        </div>
    </div>
</div>

<div *ngIf="showEntriesFilter"
    class="container">
    <div class="row bulk-mode-row">
        <div class="col">
            <div class="form-group">
                <label>Add Selection to Playlist:</label>
                <select [(ngModel)]="bulkPlaylistId"
                    class="form-control">
                    <option value="no-membership">No Membership</option>
                    <option *ngFor="let list of playlists"
                        value="{{list._id}}">{{list.name}}</option>
                </select>
            </div>
            <button (click)="bulkPlaylistUpdate()"
                class="btn btn-success">
                Save to Playlist
            </button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>