th.col-eng-text,
td.col-eng-text {
    width: 450px;
}

.btn-standard {
    display: block;
    width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#entries-table td:hover {
    cursor: pointer;
}