<div class="editor-form-div">
    <div class="row edit-universals-row">
        <div class="col">
            <div class="form-group">
                <label>English Text</label>
                <input [(ngModel)]="data.eng_text" 
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>English Audio</label>
                <input [(ngModel)]="data.eng_audio"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Source</label>
                <input [(ngModel)]="data.source"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Dialect</label>
                <input [(ngModel)]="data.dialect" 
                    [disabled]="savePending"
                    class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Vocab Type</label>
                <select [(ngModel)]="data.type" 
                    [disabled]="savePending"
                    class="form-control">
                    <option value="noun">Noun</option>
                    <option value="verb">Verb</option>
                    <option value="adjective">Adjective</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input [checked]="isWordMastered"
                    [disabled]="savePending"
                    (click)="toggleMastered()"
                    type="checkbox" class="form-check-input" id="masteryStatus">
                <label class="form-check-label" for="masteryStatus">Mastered</label>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input [value]="data.tags.join(', ')"
                    [disabled]="savePending"
                    class="form-control">
            </div>
        </div>
    </div>

    <div class="row edit-type-specifics" #typeSpecifics>
        <div class="col">
            <div class="form-group">
                <label>Arabic Singular Text</label>
                <input [(ngModel)]="data.data_noun.a_sing_text"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Arabic Singular Audio</label>
                <input [(ngModel)]="data.data_noun.a_sing_audio"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <button (click)="saveEdit()"
                [disabled]="savePending"
                class="btn btn-primary control-btn">
                Save
            </button>
            <button (click)="cancelEdit()"
                [disabled]="savePending"
                class="btn btn-secondary control-btn">
                Cancel
            </button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Arabic Plural Text</label>
                <input [(ngModel)]="data.data_noun.a_pl_text"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Arabic Plural Audio</label>
                <input [(ngModel)]="data.data_noun.a_pl_audio"
                    [disabled]="savePending"
                    class="form-control">
            </div>
        </div>
    </div>
    <div *ngIf="savePending"
        class="row">
        <div class="col">
            <div
                id="save-pending-alert"
                class="alert alert-info">
                <strong>{{saveDivText}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
            <h2>Word JSON</h2>
            <pre>
                {{data | json}}
            </pre>
        </div>
    </div>
</div>
