.edit-universals-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.edit-type-specifics {
    margin-top: 1rem;
    border-bottom: 1px solid #888;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.control-btn {
    width: 200px;
    margin-right: 1rem;
    margin-top: 1rem;
}

#save-pending-alert {
    margin-top: 1rem;
}