.images-row {
    margin-top: 2rem;
    margin-bottom: 4rem;
    img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

button {
    width: 100%;
}

.narrows-row {
    margin-top: 2rem;
    margin-bottom: 4rem;
    img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.charts-row {
    margin-top: 2rem;
    margin-bottom: 4rem;
    img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}