<div class="editor-form-div">
    <div class="row edit-universals-row">
        <div class="col">
            <div class="form-group">
                <label>English Text</label>
                <input [(ngModel)]="data.eng_text" 
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>English Audio</label>
                <input [(ngModel)]="data.eng_audio"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Source</label>
                <input [(ngModel)]="data.source"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Dialect</label>
                <input [(ngModel)]="data.dialect" 
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="form-group form-check">
                <input [checked]="isWordMastered"
                    [disabled]="savePending"
                    (click)="toggleMastered()"
                    type="checkbox" class="form-check-input" id="masteryStatus">
                <label class="form-check-label" for="masteryStatus">Mastered</label>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Vocab Type</label>
                <select [(ngModel)]="data.type" 
                    [disabled]="savePending"
                    class="form-control">
                    <option value="noun">Noun</option>
                    <option value="verb">Verb</option>
                    <option value="adjective">Adjective</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input [(ngModel)]="tagString"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <div class="memberships-div">
                <h3 class="playlist-memberships">Playlists</h3>
                <ul class="list-group playlist-membership-list">
                    <li *ngFor="let list of playlists"
                        [ngClass]="playlistMembershipClasses(list)">
                        <span>{{list.name}}</span>
                        <button *ngIf="playlistIsMember(list._id)"
                            (click)="playlistRemove(list)"
                            class="btn btn-outline-dark btn-sm remove-membership">
                            Remove
                        </button>
                        <button *ngIf="!playlistIsMember(list._id)"
                            (click)="playlistAdd(list)"
                            class="btn btn-outline-success btn-sm add-membership">
                            Add
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row edit-type-specifics">
        <div class="col">
            <div class="form-group">
                <label>Past, 3rd Person Sing Text</label>
                <input [(ngModel)]="data.data_verb.a_past_3sm_text"
                    [disabled]="savePending"
                    class="form-control arabic-text">
            </div>
            <div class="form-group">
                <label>Past, 3rd Person Sing Audio</label>
                <input [(ngModel)]="data.data_verb.a_past_3sm_audio"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <button (click)="previewAudio('a_past_3sm_audio')"
                class="btn btn-outline-dark preview-btn">
                Preview
            </button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Present, 3rd Person Sing Text</label>
                <input [(ngModel)]="data.data_verb.a_pres_3sm_text"
                    [disabled]="savePending"
                    class="form-control arabic-text">
            </div>
            <div class="form-group">
                <label>Present, 3rd Person Sing Audio</label>
                <input [(ngModel)]="data.data_verb.a_pres_3sm_audio"
                    [disabled]="savePending"
                    class="form-control">
            </div>
            <button (click)="previewAudio('a_pres_3sm_audio')"
                class="btn btn-outline-dark preview-btn">
                Preview
            </button>
        </div>
    </div>

    <div class="row controls-row">
        <div class="col">
            <button (click)="saveEdit()"
                [disabled]="savePending"
                class="btn btn-primary control-btn">
                Save
            </button>
            <button (click)="cancelEdit()"
                [disabled]="savePending"
                class="btn btn-secondary control-btn">
                Cancel
            </button>
        </div>
    </div>

    <div *ngIf="savePending"
        class="row">
        <div class="col">
            <div
                id="save-pending-alert"
                class="alert alert-info">
                <strong>{{saveDivText}}</strong>
            </div>
        </div>
    </div>
</div>