<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['home']">Home</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['view']" [routerLinkActive]="['active']">
            View
        </a>
        <a class="nav-item nav-link" [routerLink]="['new']" [routerLinkActive]="['active']">
            New
        </a>        
        <a class="nav-item nav-link" [routerLink]="['edit']" [routerLinkActive]="['active']">
            Edit
        </a>
        <a class="nav-item nav-link" [routerLink]="['learn']" [routerLinkActive]="['active']">
            Learn
        </a>
        <a class="nav-item nav-link" [routerLink]="['generics-view']" [routerLinkActive]="['active']">
            View Generics
        </a>
        <a class="nav-item nav-link" [routerLink]="['generics-study']" [routerLinkActive]="['active']">
            Study Generics
        </a>
        <a class="nav-item nav-link" [routerLink]="['vocab']" [routerLinkActive]="['active']">
            Vocab
        </a>
    </div>
  </nav>

<router-outlet></router-outlet>

</div>