<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>Verb Sets Page</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th class="eng-col">Link</th>
                        <th class="eng-audio">Eng Audio</th>
                        <th class="arabic-header">Arabic Past</th>
                        <th class="arabic-header">Arabic Pres</th>
                        <th class="status-col">Status</th>
                        <th class="last-practiced">Last Practiced</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let verb of verbs"
                        [class]="'status-' + verb.status"
                        >
                        <td [routerLink]="['/verb-set', verb._id]"
                            class="eng-col">
                            EDIT
                        </td>
                        <td (click)="playEnglish(verb.eng_audio)"
                            class="eng-audio">
                            {{verb.eng_text}}
                        </td>
                        <td (click)="play(verb.a_audio_base, 'past')"
                            class="arabic-text">
                            {{verb.a_past_text.he}}
                        </td>
                        <td (click)="play(verb.a_audio_base, 'pres')"
                            class="arabic-text">
                            {{verb.a_pres_text.he}}
                        </td>
                        <td class="status-col">
                            {{verb.status}}
                        </td>
                        <td class="last-practiced">
                            {{lastPracticedText(verb.lastPracticed, verb.everPracticed)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <button (click)="showUnreadyVerbs()"
                class="btn btn-outline-primary wide-btn">
                Show Unready Verbs Instead
            </button>
        </div>
    </div>
</div>