
tr.status-study {
    background-color: #b8daff;
    color: #212529;
}
tr.status-study:hover {
    background-color: #7abaff !important;
    color: #212529 !important;
}

tr.status-study2 {
    background-color: #c3c6ff;
    color: #212529;
}
tr.status-study2:hover {
    background-color: #a9aeff !important;
    color: #212529 !important;
}

tr.status-ready {
    background-color: #ffeeba;
    color: #212529;
}
tr.status-ready:hover {
    background-color: #ffdf7e !important;
    color: #212529 !important;
}

tr.status-known {
    background-color: #c3e6cb;
    color: #212529;
}
tr.status-known:hover {
    background-color: #8fd19e !important;
    color: #212529 !important;
}



table td {
    padding-top: .1rem;
    padding-bottom: .1rem;
    vertical-align: middle;
}

th {
    text-align: center;
}

th.eng-col,
th.eng-audio,
th.arabic-header,
th.status-col {
    border-right: 1px solid #aaa;
}

td.eng-col,
td.eng-audio,
td.arabic-text,
td.status-col {
    border-right: 2px solid #aaa;
}

td.arabic-text {
    font-size: 130%;
}

td.eng-col:hover,
td.eng-audio:hover,
td.arabic-text:hover {
    cursor: pointer;
}

// td.eng-col,
// td.eng-audio,
// td.status-col {
//     // font-size: 125%;
// }

td.status-col {
    text-align: center;
}

.wide-btn {
    width: 100%;
    margin-top: 2rem;
}