.creation-btns-row {
    margin-bottom: 2rem;
}

.create-playlist-btn {
    width: 100%;
}

.btn-standard {
    width: 100%;
}

div.playlist-card {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h5.card-subtitle {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

div.progress {
    margin-bottom: 1rem;
    height: 0.5rem;
    background-color: #fff;
}

table.data-table {
    margin-bottom: 0;
}

table.data-table th {
    font-weight: normal;
}

table.data-table td,
table.data-table th {
    border: 1px solid #454D55;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .9rem;
}

td.reg-col {
    width: 100px;
}

table.global-data {
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    th,
    td {
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1rem;
        border: 2px solid #454D55;
    }
    td.number-col {
        border-right: 1px solid #aaa;
    }
    td.percent-col {
        border-left: 1px solid #aaa;
    }
    td.mastered {
        background-color: #d4edda;
    }
    td.unmastered {
        background-color: #fff3cd;
    }
    td.inactive {
        background-color: #f8d7da;
    }
    td.total {
        background-color: #cce5ff;
    }
}

h5.card-header {
    background-color: initial;
    border: none;
    padding-bottom: 0.5rem;
}

div.card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

div.playlist-card button.edit-btn {
    width: 100px;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}

.card-header .badge {
    font-weight: normal;
    margin-left: 1rem;
}

.card-header .badge:hover {
    cursor: pointer;
}

.save-order-btn,
.cancel-order-btn {
    margin-bottom: 1rem;
    width: 200px;
}

.cancel-order-btn {
    margin-left: 1rem;
}

.playlist-link {
    min-width: 300px;
}

div.progress-low {
    background-color: #f8d7da;
}
div.progress-fair {
    background-color: #fff3cd;
}
div.progress-good {
    background-color: #cce5ff;
}
div.progress-great {
    background-color: #d4edda;
}

div.inactive-playlist {
    background-color: #e2e3e5;
}

div.begins-playlist-group {
    margin-top: 4rem;
}

div.hidden-playlist {
    margin-top: 4rem;
}