.creation-btns-row {
    margin-bottom: 2rem;
}

.create-playlist-btn {
    width: 200px;
}

.btn-standard {
    width: 100%;
}

.border-rl {
    border-right: 1px solid #454D55;
}

.border-rm {
    border-right: 2px solid #aaa;
}

.narrow-col {
    width: 150px;
}

.middle-col {
    width: 300px;
}

.playlist-row:hover {
    cursor: pointer;
}