<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>Playlists</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div *ngIf="!showCreate"
        class="row creation-btns-row">
        <div class="col"></div>
        <div class="col">
            <button (click)="createNewPlaylist()"
                class="btn btn-success create-playlist-btn">
                Create New Playlist
            </button>
        </div>
        <div class="col"></div>
    </div>

    <div *ngIf="showCreate"
        class="row">
        <div class="col">
            <div class="form-group">
                <label>Playlist Name</label>
                <input [(ngModel)]="newPlaylist.name"
                    class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Order</label>
                <input [(ngModel)]="newPlaylist.order"
                    type="number"
                    class="form-control">
            </div>
        </div>
    </div>

    <div *ngIf="showCreate"
        class="row">
        <div class="col">
        </div>
    </div>

    <div *ngIf="showCreate"
        class="row creation-btns-row">
        <div class="col">
            <button (click)="savePlaylist()"
                [disabled]="savingPlaylist"
                class="btn btn-success btn-standard">
                Save Playlist
            </button>
        </div>
        <div class="col">
            <button (click)="cancelSave()"
                [disabled]="savingPlaylist"
                class="btn btn-secondary btn-standard">
                Cancel
            </button>
        </div>
        <div class="col">

        </div>
        <div class="col">
            <button (click)="deletePlaylist()"
                [disabled]="savingPlaylist"
                class="btn btn-danger btn-standard">
                Delete Playlist
            </button>
        </div>
    </div>


    <div *ngIf="dataSetsReady">
        <div *ngFor="let playlist of playlistDataSets; let i=index;"
            class="row">
            <div class="col">
                <div class="card playlist-card">
                    <h5 class="card-header">{{playlist.playlistName}}</h5>
                    <div class="card-body">
                        <table class="table data-table">
                            <thead>
                                <tr class="table-success">
                                    <th class="reg-col">Mast</th>
                                    <th class="reg-col">Unmast</th>
                                    <th class="reg-col">Total</th>
                                    <th class="reg-col">UnPrac</th>
                                    <th class="date-col">Oldest</th>
                                    <th class="date-col">Mid</th>
                                    <th class="date-col">Newest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="reg-col">{{playlist.mastered}}</td>
                                    <td class="reg-col">{{playlist.total - playlist.mastered}}</td>
                                    <td class="reg-col">{{playlist.total}}</td>
                                    <td class="reg-col">{{ unmastPracticePer(playlist) }}</td>
                                    <td>{{playlist.oldest |  date:'mediumDate'}}</td>
                                    <td>{{playlist.midDate | date:'mediumDate'}}</td>
                                    <td>{{playlist.newest | date:'mediumDate'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <h5 class="card-subtitle mastery">Mastery <small>{{mastPercentage(playlist)}}</small></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="getProgressInteger(playlist, 'mastered')"></div>
                            <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="getProgressInteger(playlist, 'unmastered')"></div>
                        </div>
                        <h5 class="card-subtitle size">Collection Size <small>{{playlist.total}} terms</small></h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="getSizeInteger(playlist)"></div>
                        </div> -->
                        <h5 class="card-subtitle all-in-one">Progress</h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="absoluteProgress(playlist, 'mastered')"></div>
                            <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="absoluteProgress(playlist, 'unmastered')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- <div class="row">
        <div class="col">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th class="border-rl count-col">Rank</th>
                        <th class="border-rl">Playlist Name</th>
                        <th class="border-rl count-col">Total</th>
                        <th class="border-rl count-col">Unmast</th>
                        <th class="border-rl count-col">% Mast</th>
                        <th class="border-rl">Tags</th>
                        <th class="middle-col">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let playlist of playlists; let i=index;"
                        (click)="editPlaylist(playlist)"
                        class="playlist-row">
                        <td class="border-rl count-col">
                            {{i + 1}}
                        </td>
                        <td class="border-rl">
                            {{playlist.name}} <small>&#40;{{playlist.order}}&#41;</small>
                        </td>
                        <td class="border-rl count-col">

                        </td>
                        <td class="border-rl count-col">

                        </td>
                        <td class="border-rl count-col">

                        </td>
                        <td class="border-rl">
                            
                        </td>
                        <td class="">
                            {{playlist.created | date:'mediumDate'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

</div>
